
#quiz-responses-wrapper {
    margin-top: 2rem;
}

#canvas {
    background-size: cover;
    margin: 0 auto 2rem auto;
    position: relative;
    text-align: center;

    .selection {
        border: 1px solid #FFE100;
        position: absolute;
    }

    .location {
        border: 2px solid #FFE100;
        border-radius: 5px;
        position: absolute;
    }
}
