
/* Override Sindu (drag&drop) */
.sindu_dragger table{
    background: #eee !important;
}

#menu {
    margin-bottom: 1.5rem;

    .navbar-item .icon {margin-right: 0.5rem;}
}

#home {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {margin: 1rem 2rem;}
}