
$color-default: #435B72;
$color-background-default: #435B72;
$color-background-header: #FF6712;
$color-border-default: #FF6712;
$color-button-default: #FF6712;

$color-text-default: #E0EAEB;
$color-text-menu: #E0EAEB;
$color-text-link: #FF6712;
$color-text-title: #B8CACB;
