
*{
    font-family: Tahoma, Geneva, sans-serif;
    color: $color-text-default;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/background_V2.jpg');
    height: 100vh;
    line-height: 1.3em;
    text-align: justify;
}

#header {
    background: linear-gradient($color-background-header-1, $color-background-header-2);
    box-shadow: $color-shadow-default 0 3px 11px;
    padding: 10px;
}

h1 {
    color: $color-text-title;
    font-size: 1.9em;
    line-height: 1.4em;
    margin: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: $color-text-link;
}

input, select, textarea, button {
    border: 1px solid $color-border-input;
    border-radius: 5px;
    color: $color-text-input;
    font-size: 0.8em;
    padding: 6px 13px;
}

.container {
    max-width : 1600px;
    margin: 10px 30px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.note {font-size: 0.8em;}

.card {
    background-color: $transparent-background-white;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
}

.button {
    background: linear-gradient($color-button-default-1, $color-button-default-2);
    border: none;
    border-radius: 5px;
    color: $color-text-default;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 18px;
    text-transform: uppercase;

    &:hover {
        background: linear-gradient($color-button-active-1, $color-button-active-2);
    }
}
