{#
Allows to display an icon depending on casting status for a movie (initialized, uninitialized or empty).
Required :
- status : current casting status (as string).
#}

{% if (status == constant('App\\Enum\\Maze\\CastingStatusEnum::INITIALIZED')) %}
<span class="icon has-text-success">
    <i class="fas fa-check"></i>
</span>
{% elseif (status == constant('App\\Enum\\Maze\\CastingStatusEnum::EMPTY')) %}
<span class="icon has-text-danger">
    <i class="fas fa-times"></i>
</span>
{% else %}
<span class="icon has-text-warning">
    <i class="fas fa-question"></i>
</span>
{% endif %}
