{#
Allows to add new movie using TMDB API.
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">Ajout d'un film</h1>

    <nav id="movie-add" class="level">
        <input id="movie-add-search" type="text" class="input" placeholder="Saisissez le titre du film" />
        <button id="movie-add-button" class="button is-primary" disabled>Rechercher</button>
    </nav>

    {# Allows to display search result #}
    <div id="movie-add-result" class="hide"></div>

{% endblock %}
