{#
Allows to add new movie using TMDB API.
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">Ajout d'un film</h1>

    <div id="maze-item-add" class="field has-addons" data-base-url="/admin/maze/movie/search/">
        <div class="control">
            <input id="maze-item-add-search" type="text" class="input" placeholder="Saisissez le titre du film" />
        </div>
        <div class="control">
            <button id="maze-item-add-button" class="button is-primary" disabled>Rechercher</button>
        </div>
    </div>

    {# Allows to display search result #}
    <div id="maze-item-add-result" class="hide"></div>

{% endblock %}
