{#
Allows to display response detail for statistics quiz.
Required :
- responses : list of response found by user on a specific quiz (as QuizUserResponse).
#}

<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Joueur</th>
            <th>Trouvée le</th>
        </tr>
    </thead>
    <tbody>
    {% for response in responses %}
        <tr>
            <td>{{ response.user.firstname }} {{ response.user.lastname }}</td>
            <td>{{ response.date|date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
