{#
Allows to display response detail for statistics user.
Required :
- responses : list of response found by user on a specific quiz.
#}

<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>{{ 'back.quiz.statistics.response'|trans }}</th>
            <th>{{ 'back.quiz.statistics.found_at'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for response in responses %}
        <tr>
            <td>{{ response.response.title }}</td>
            <td>{{ response.date|date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
