
#quiz-play {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 50px;
    position: relative;

    #main-wrapper {
        background-color: $transparent-background-default;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;

        #action-wrapper {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 1rem 1rem 0 1rem;

            input[type="text"] {
                flex-grow: 1;
                max-width: 350px;
                margin-right: 0.5rem;

                &::placeholder {font-style: italic;}
            }

            .action-buttons {
                display: flex;
                flex-direction: row;

                .button {
                    display: block;
                    margin-left: 1rem;
                }

                .switch-button {margin-left: 1rem;}
            }
        }

        #picture-wrapper {
            flex-grow: 1;
            overflow: hidden;
            padding: 1rem;
            position: relative;
            height: calc(100% - 2rem);

            img {
                box-shadow: 0 0 5px $color-shadow-dark;
                max-height: 100%;
                max-width: 100%;
            }

            .location {
                border: 2px solid $color-border-location;
                border-radius: 5px;
                position: absolute;
            }
        }
    }

    #data-wrapper {
        background-color: $transparent-background-default;
        border-left: 1px solid $color-border-default;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        padding: 1rem;

        #scroll-wrapper {
            flex-grow: 1;
            max-height: 90vh;
            position: relative;

            #quiz-responses {
                font-size: 0.8rem;
                list-style: none;
                min-height: 20px;
                text-align: left;

                li {
                    cursor: pointer;
                    line-height: 1rem;
                    margin-bottom: 0.4rem;
                }
            }
        }

        #quiz-info {
            border-top: 1px solid $color-border-default;
            font-size: 0.8rem;
            margin-top: 1.5rem;
            padding: 1rem 0;
            text-align: left;
        }
    }

    #center-button {
        background-color: $transparent-background-default;
        border-radius: 50%;
        cursor: pointer;
        padding: 0.3rem;
        position: absolute;
        right: -40px;
        top: 45%;
    }
}

@media #{$media-medium}
{
    #quiz-play {
        flex-direction: column;

        #main-wrapper {border-radius: 10px 10px 0 0;}

        #data-wrapper {
            border: none;
            border-radius: 0 0 10px 10px;
            border-top: 1px solid $color-border-default;
            flex-direction: row;

            #scroll-wrapper {
                max-height: 50vh;

                #quiz-responses {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    li {width: 45%;}
                }
            }

            #quiz-info {
                border-top: none;
                border-left: 1px solid $color-border-default;
                margin: 0 0 0 1rem;
                padding: 0 1rem;
                text-align: right;

                label {display: block;}
            };
        }
    }
}

@media #{$media-small}
{
    #quiz-play {
        flex-direction: column;
        margin: 0;

        #main-wrapper {
            border-radius: 10px 10px 0 0;
            height: auto;

            #action-wrapper {
                align-items: stretch;
                flex-direction: column;
                justify-content: center;

                input[type="text"] {
                    max-width: none;
                    margin: 0 0.3rem 1rem 0.3rem;

                    &::placeholder {font-style: italic;}
                }

                .action-buttons {
                    justify-content: center;

                    .button, .switch-button {margin: 0 1rem;}
                }
            }

            #picture-wrapper {height: 100vh;}
        }

        #data-wrapper {
            border: none;
            border-radius: 0 0 10px 10px;
            border-top: 1px solid $color-border-default;

            #scroll-wrapper {max-height: 50vh;}

            #quiz-info {text-align: right;}
        }

        #center-button {display: none;}
    }
}
