
#quiz-play {
    display: flex;
    flex-direction: row;
    justify-content: center;

    #main-wrapper {
        background-color: $transparent-background-default;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: column;

        #action-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px 20px 0 20px;

            input[type="text"] {
                flex-grow: 1;
                max-width: 350px;

                &::placeholder {font-style: italic;}
            }

            .button {margin-left: 5px;}
        }

        #picture-wrapper {
            max-height: 90vh;
            max-width: 100vw;
            padding: 20px;

            img {
                box-shadow: 0 0 5px $color-shadow-dark;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    #data-wrapper {
        background-color: $transparent-background-default;
        border-left: 1px solid $color-border-default;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        padding: 20px;

        #quiz-responses {
            flex-grow: 1;
            font-size: 0.8rem;
            list-style: none;
            min-height: 20px;
            text-align: left;

            li {
                cursor: pointer;
                line-height: 1rem;
                margin-bottom: 0.4rem;
            }
        }

        #quiz-info {
            border-top: 1px solid $color-border-default;
            font-size: 0.8rem;
            min-width: 200px;
            padding-top: 8px;
            text-align: left;
        }
    }
}

@media #{$media-medium}
{
    #quiz-play {
        flex-direction: column;

        #main-wrapper {border-radius: 10px 10px 0 0;}

        #data-wrapper {
            border: none;
            border-radius: 0 0 10px 10px;
            border-top: 1px solid $color-border-default;
            flex-direction: row;
            padding: 0 20px 20px 20px;

            #quiz-info {border: none};
        }
    }
}

@media #{$media-small}
{
    #quiz-play {
        flex-direction: column;

        #main-wrapper {
            border-radius: 10px 10px 0 0;

            #action-wrapper {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        #data-wrapper {
            border: none;
            border-radius: 0 0 10px 10px;
            border-top: 1px solid $color-border-default;
            padding: 0 20px 20px 20px;
        }
    }
}
