{% extends "base.html.twig" %}

{% block title %}Quiz casting ou filmographie, trouvez les liens entre les acteurs ou les films.{% endblock %}

{% block body %}

    <div id="maze-home" class="container center">

        <h1>Quiz casting et filmographie</h1>

        <p>Nous vous proposons ici 2 autres quiz, le premier basé sur la filmographie des acteurs et le second sur le casting des films.</p>
        <p>Le but de ces quiz est de relier les acteurs via un film commun ou de relier les films via un acteur commun...</p>
        <p>Amusez-vous bien !</p>

        <div class="maze-selection-wrapper">
            <a href="{{ path('fo_maze_actor') }}" class="maze-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-film"></i></span>
                <span>Quiz filmographie</span>
            </a>
            <a href="{{ path('fo_maze_movie') }}" class="maze-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-users"></i></span>
                <span>Quiz casting</span>
            </a>
        </div>

        {% if not app.user %}
            <p>Pensez à vous créer un compte <a href="{{ path('fo_account_new') }}">ici</a>.</p>
        {% endif %}

    </div>

{% endblock %}
