<section>
    {% for movie in movies %}
    <div data-tmdb-id="{{ movie.tmdbId }}">
        <img src="{{ movie.pictureUrl|tmdbPictureUrl }}" alt="{{ movie.title|raw }}" />
        <span>{{ movie.title }}</span>
    </div>
    {% endfor %}
</section>
