{#
Allows to display list of movies for selection => user can select 10 movies to play maze...
Required :
- MazeItem[] movies : list of movies to select.
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz personnalisé sur le casting avec votre propre sélection de films."/>
{% endblock %}

{% block title %}Quiz casting{% endblock %}

{% block body %}

    <h1>Construisez votre quiz</h1>

    <div id="maze-max-path" class="maze-item-path-selection">

        <div class="card center">

            <p class="margin-bottom">Veuillez choisir 10 films parmi ceux proposés ci-dessous. Nous vous proposerons le plus long quiz trouvé pour votre sélection.</p>
            <p class="margin-bottom"><strong>Bonne chance !</strong></p>

            <form id="path-selection-form" action="{{ path('fo_maze_movie_play_max_path') }}" method="POST">

                <input type="hidden" id="tmdbIds" name="tmdbIds" />

                <div class="field">
                    <label for="level">Difficulté : </label>
                    <div class="control select-wrapper">
                        <select id="level" name="level">
                            <option value="0">Facile</option>
                            <option value="1" selected="selected">Moyen</option>
                            <option value="2">Difficile</option>
                        </select>
                    </div>
                </div>

                <p class="note"><strong>NOTE : </strong>Le degré de difficulté permet de modifier le nombre d'acteurs accessibles dans la rubrique "Besoin d'aide".</p>

                <div class="form-buttons">
                    <input id="selection-submit" type="submit" class="button" disabled value="Jouer"/>
                </div>

            </form>

        </div>

        {%
            include 'front/maze/_selection.html.twig'
            with {
                'mazeItems': movies,
                'selectionId': 'selection-wrapper',
            }
        %}

    </div>

{% endblock %}
