{#
Allows to display list of movies for selection => user can select 2 movies for min path game...
Required :
- MazeItem[] movies : list of movies to select.
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz casting : plus court chemin entre 2 films !"/>
{% endblock %}

{% block title %}Quiz casting{% endblock %}

{% block body %}

    <h1>Reliez 2 films</h1>

    <div id="maze-min-path" class="maze-item-path-selection">

        <div class="card center">

            <p class="margin-bottom">Choisissez simplement 2 films parmi ceux proposés ci-dessous.<br/>
            Le système cherchera le plus court chemin entre ces deux films (en fonction du casting...).<br/>
            A vous de retrouver le(s) acteur(s) pour lier ces 2 films.</p>
            <p class="note margin-bottom"><strong>ATTENTION : </strong>la solution proposée n'est pas unique et n'utilisera que la sélection de films proposés sur ce site (et leur casting).<br/>
            Un chemin plus court peut donc exister en passant par d'autres acteurs ayant joués dans des films non présents ici.</p>

            <form action="{{ path('fo_maze_movie_play_min_path') }}" method="POST">

                <input type="hidden" id="startMovieId" name="startMovieId" />
                <input type="hidden" id="endMovieId" name="endMovieId" />

                <div class="field">
                    <label for="level">Difficulté : </label>
                    <div class="control select-wrapper">
                        <select id="level" name="level">
                            <option value="0">Facile</option>
                            <option value="1" selected="selected">Moyen</option>
                            <option value="2">Difficile</option>
                        </select>
                    </div>
                </div>

                <p class="note"><strong>NOTE : </strong>Le degré de difficulté permet de modifier le nombre d'acteurs accessibles dans la rubrique "Besoin d'aide".</p>

                <div class="form-buttons">
                    <input type="submit" class="button" value="Jouer"/>
                </div>

            </form>

        </div>

        {%
            include 'front/maze/_selection.html.twig'
            with {
                'mazeItems': movies,
                'selectionId': 'selection-wrapper',
            }
        %}

    </div>

{% endblock %}
