{#
Allows to display list of movies we want to find common credit actor => path of movies.
Required :
- MazeItem[] mazePath : list of movies linked by common credit actors (as Movie).
- MazeItem[] helpList : list of actors used to help user to find path (as Actor).
- string responseRoute : Name of route to submit and check response.
- string trickRoute : Name of route to request a trick.
Optional
- int level : Difficulty level for maze.
#}

{% extends "front/maze/_play.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz casting : avancez de film en film en trouvant les acteurs/actrices communs !"/>
{% endblock %}

{% block title %}Quiz casting{% endblock %}

{% block mazeTitle %}Quiz casting{% endblock %}

{% block mazeHelpText %}
    <p>Choisissez parmi les acteurs ci-dessous celui qui vous permettra d'avancer.</p>
    <p>Plusieurs réponses peuvent être possibles et une même réponse peut être utilisée plusieurs fois.</p>
{% endblock %}
