{#
Allows to display credit actors for a movie. This view is used to help user in movie maze quiz...
Required :
- movie : movie we want to display credit actors in order to help user.
#}

<div class="maze-movie-trick">
    <h2>Casting de <strong>{{ movie.title }}</strong></h2>
    <ul>
    {% for actor in movie.actors %}
        <li>{{ actor.fullname }}</li>
    {% endfor %}
    </ul>
</div>