{#
Allows to display list of actors we want to find common credit movie => path of actors.
Required :
- MazeItem[] mazePath : list of actors linked by common credit movies (as Actor).
- MazeItem[] helpList : list of movies used to help user to find path (as Movie).
- string responseRoute : Name of route to submit and check response.
- string trickRoute : Name of route to request a trick.
Optional
- int level : Difficulty level for maze.
#}

{% extends "front/maze/_play.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz filmographie : avancez d'acteur en acteur en trouvant les films communs !"/>
{% endblock %}

{% block title %}Quiz filmographie{% endblock %}

{% block mazeTitle %}Quiz filmographie{% endblock %}

{% block mazeHelpText %}
    <p>Choisissez parmi les films ci-dessous celui qui vous permettra d'avancer.</p>
    <p>Plusieurs réponses peuvent être possibles et une même réponse peut être utilisée plusieurs fois.</p>
{% endblock %}
