{#
Allows to display credit movies for an actor. This view is used to help user in actors maze quiz...
Required :
- actor : actor we want to display credit movies in order to help user.
- minVoteCount : filter on movies to display only movie with vote count greater or equal to specified value.
#}

<div class="maze-actor-trick">
    <h2>Filmographie de <strong>{{ actor.fullname }}</strong></h2>
    <ul>
    {% for movie in actor.movies %}
        {% if movie.voteCount >= minVoteCount %}
            <li>{{ movie.title }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
