
.burger-icon {
    display: none;
}

#menu {
    display: flex;

    .navbar-main {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;

        .navbar-item {
            box-shadow: $box-shadow;
            color: $color-text-default;
            font-weight: bold;
            margin: 0 1.2rem;
            min-width: 140px;
            padding: 0.3rem 1.3rem;
            text-align: center;
            text-shadow: $text-shadow;
            text-transform: uppercase;

            &:hover {box-shadow: $box-shadow-darker;}
        }

        .navbar-logo {
            box-shadow: none;
            transition: 0.3s ease-in-out;

            img {width: 390px;}

            span {display: none;}

            &:hover {
                box-shadow: none;
                transform: scaleY(1.2);
            }
        }
    }

    .navbar-login {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 15px;

        .navbar-item {
            color: $color-text-default;
            font-size: 0.75rem;
            padding: 0.2rem 0.4rem;

            &:hover {text-shadow: $text-shadow;}
        }
    }
}

@media #{$media-medium}
{
    #menu {
        flex-direction: column;

        .navbar-main {
            .navbar-item {
                margin: 0 1rem;
                min-width: 140px;
                padding: 0.3rem 0.8rem;
            }

            .navbar-logo {
                img {width: 270px;}
            }
        }

        .navbar-login {
            position: inherit;
            flex-direction: row;
            justify-content: center;
        }
    }
}

@media #{$media-small}
{
    .burger-icon {
        display: block;
        margin-bottom: 1rem;
    }

    #menu {
        display: none;
        flex-direction: column;

        &.active {
            display: block;
        }

        .navbar-main, .navbar-login {
            flex-direction: column;
            align-items: stretch;
            position: inherit;

            .navbar-logo {
                order: -1;

                img {display: none;}
                span {display: block;}
            }

            .navbar-item {
                box-shadow: $box-shadow;
                color: $color-text-default;
                font-weight: bold;
                margin: 0.4rem 0;
                min-width: 0;
                padding: 0.6rem 1.3rem;
                text-align: left;
                text-shadow: $text-shadow;
                text-transform: uppercase;

                &:hover {
                    background-color: $transparent-background-black;
                    border: none;
                    box-shadow: $box-shadow-darker;
                }
            }
        }
    }
}
