{#
Allows to view winner information.
Required :
- winner : winner we want to display information (as Winner).
#}

<div class="winner-details">
    <p><strong>Nom complet</strong> : {{ winner.user.displayName }}</p>
    <p><strong>Adresse mail</strong> : {{ winner.user.email }}</p>
    <p><strong>Résolu le</strong> : {{ winner.date|date('d-m-Y') }}</p>
</div>
