{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Site proposant des quiz et des jeux autour du cinéma ou des séries : acteur, filmographie, références à des objets cultes du 7ème art..." />
{% endblock %}

{% block body %}

    <div id="home" class="center">

        <h1>Bienvenue sur le Sitarium</h1>

        <section>
            <p>Ce site vous propose différents <strong>quiz</strong> autour du <strong>cinéma</strong> (plutôt américain !).</p>
            <p>Vous trouverez des <strong>quiz</strong> en image basés sur le même principe que <a href="http://www.popcorngarage.com/" target="_blank">PopCorn Garage</a>.</p>
            <p class="margin-bottom">Vous pouvez aussi tester vos connaissances sur la <strong>filmographie</strong> des acteurs ou le <strong>casting</strong> des films.</p>
            <p class="margin-bottom">Un grand merci au site <a href="https://www.themoviedb.org/">The Movie DB</a> qui m'a permis de recueillir les informations nécessaires pour vous proposer ces <strong>quiz</strong>.</p>
            <p><strong>Amusez-vous bien !</strong></p>
        </section>

    </div>

{% endblock %}
