{% extends "base.html.twig" %}

{% block title %}Quiz casting ou filmographie, trouvez les liens entre les acteurs ou les films.{% endblock %}

{% block body %}

    <h1>Quiz cinéma casting et filmographie</h1>

    <p>Nous vous proposons ici 2 autres quiz, le premier basé sur la filmographie des acteurs et le second sur le casting des films.</p>

    <a href="{{ path('fo_maze_actor') }}">Quiz filmographie</a>
    <a href="{{ path('fo_maze_movie') }}">Quiz casting</a>

    <p>Amusez-vous bien !</p>

    {% if not app.user %}
        <p>Pensez à vous créer un compte <a href="{{ path('fo_account_new') }}">ici</a>.</p>
    {% endif %}

{% endblock %}
