{#
Allows to display result actor list (from TMDB search based on actor's name).
Required :
- actors : list of actors to display (as Actor).
#}

{% if (actors|length == 0) %}
    <p>Aucun acteur trouvé</p>
{% endif %}

<div class="tile is-ancestor is-12" style="flex-wrap: wrap;">
{% for actor in actors %}
    <a href="{{ path('bo_maze_actor_add', { 'tmdbId': actor.tmdbId }) }}"
        onclick="return confirm('Confirmer la sélection ?');"
        class="tile is-child is-2">
            <p>{{ actor.fullname }}</p>
            <img src="https://image.tmdb.org/t/p/w185/{{ actor.pictureUrl }}" alt="-" />
    </a>
{% endfor %}
</div>
