{#
Allows to create new account.
Required :
- account : Form element based on AccountType object (i.e. user to edit).
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <h1>Mot de passe oublié</h1>

    <div class="card center w-half">

        <p class="margin-bottom">Veuillez saisir votre adresse mail. Un nouveau mot de passe vous sera envoyé par mail.</p>

        <form action="{{ path('fo_forgotten_password') }}" method="POST">
            <div class="field">
                <label for="username">Email</label>
                <div class="control">
                    <input type="text" id="email" name="email" value="">
                </div>
            </div>
            <div class="form-buttons">
                <input type="submit" class="button" value="Envoyer" />
            </div>
        </form>

    </div>

{% endblock %}
