{#
Allows to create new account.
Required :
- account : Form element based on AccountType object (i.e. user to edit).
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}

    <h1>Créer un compte</h1>

    <div id="account-new" class="card center w-half">

        <p class="margin-bottom">Veuillez remplir les champs ci-dessous pour créer votre compte.</p>

        {{ form_start(account) }}
            {{ form_rest(account) }}
            <div class="form-buttons">
                <input type="submit" class="button" value="Enregistrer" />
            </div>
        {{ form_end(account) }}

    </div>

{% endblock %}
