<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Back Office{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'back/_menu.html.twig' %}
            {% include 'back/_message.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/js/admin.js') }}"></script>
        {% endblock %}
    </body>
</html>
