<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}
            <meta name="keywords" content="quiz, film, cinéma, acteur, série, casting, filmographie, objets cultes, objets cachés" />
        {% endblock %}
        <title>{% block title %}Sitarium{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.svg" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="page" class="tingle-content-wrapper">
            <div id="header">
                {% include 'front/_menu.html.twig' %}
            </div>
            <div class="container">
                {% include 'front/_message.html.twig' %}
                {% block body %}{% endblock %}
            </div>
            <div id="footer">
                &copy; 2018 www.sitarium.com
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
