
#maze-home {
    .maze-selection-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        max-width: 550px;

        .maze-selection-item {
            display: flex;
            flex-direction: column;
            font-size: 1.3rem;
            margin: 0 2rem;
            text-shadow: $text-shadow-darker;

            span, span i {color: $color-button-default-2;}

            &:hover span, &:hover span i {color: $color-button-active-1;}
        }
    }
}

#maze-filmography, #maze-casting {
    .card {margin-top: 2rem;}

    form {
        select {width: 125px;}
    }
}

@media #{$media-small}
{
    #maze-home {
        .maze-selection-wrapper {
            flex-direction: column;

            .maze-selection-item {
                margin: 1rem 0;

                &:hover span, &:hover span i {color: $color-text-link;}
            }
        }
    }

    #maze-filmography, #maze-casting {
        form .note {display: none;}
    }
}
