
#maze-play {
    #action-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.5rem;

        input[type="text"] {
            flex-grow: 1;
            max-width: 350px;

            &::placeholder {font-style: italic;}
        }

        .button {margin-left: 5px;}
    }

    #info-wrapper {
        font-size: 0.8rem;
        padding: 0.5rem 0 1rem 0;
        text-align: center;

        span {color: $color-text-link;}
    }

    #maze-wrapper {
        max-width: 90vw;

        #mobile-wrapper {display: none;}

        #scroll-wrapper {
            overflow: hidden;
            position: relative;
            margin: 0 1.5rem;
            padding-bottom: 2rem;

            #maze-items {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding-top: 2rem;
                position: relative;

                #maze-cursor {
                    position: absolute;
                    left: 185px;
                    top: 0;

                    i {
                        color: $color-text-link;
                        text-shadow: $text-shadow-darker;
                    }
                }

                .maze-item {
                    background-color: $transparent-background-black;
                    border: 2px solid $color-border-default;
                    border-radius: 5px;
                    box-shadow: 0px 0px 2px $color-border-default;
                    margin: 0 20px;
                    text-align: center;
                    width: 180px;

                    &.active {
                        border-color: $color-border-active;
                        box-shadow: 0px 0px 20px $color-border-active;
                    }

                    img {max-width: 100%;}

                    span {
                        display: block;
                        padding: 0.3rem 0.3rem 0.6rem 0.3rem;
                    }
                }

                .maze-response {
                    position: absolute;
                    top: 10px;

                    img {
                        border: 2px solid $color-border-input;
                        border-radius: 5px;
                        box-shadow: $box-shadow-input;
                        width: 100px;
                    }
                }
            }
            
        }
    }

    #helper-wrapper {
        margin-top: 2rem;

        #toggle-helper-button {
            float: right;
            cursor: pointer;

            i {
                color: $color-button-default-2;
                text-shadow: $text-shadow-dark;
            }

            &:hover i {color: $color-button-active-1;}
        }

        #toggle-wrapper {
            display: none;

            &.active {display: block;}
        }
    }

    #replay-wrapper {
        display: none;
        margin-top: 2em;

        &.active {display: block;}
    }
}

@media #{$media-medium}
{
}

@media #{$media-small}
{
    #maze-play {
        #action-wrapper {display: none;}

        #maze-wrapper {
            #mobile-wrapper {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                position: relative;

                #mobile-buttons {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 0;
                    font-size: 10vw;
                    justify-content: center;
                    order: 2;

                    span {
                        margin: 1.5rem 0;

                        i {
                            color: $color-button-default-2;
                            text-shadow: $text-shadow-dark;
                        }

                        &:hover i {color: $color-button-active-1;}
                    }
                }

                .mobile-maze-item {
                    background-color: $transparent-background-black;
                    border: 2px solid $color-border-default;
                    border-radius: 5px;
                    box-shadow: 0px 0px 2px $color-border-default;
                    display: none;
                    flex-grow: 1;
                    flex: 1;
                    margin: 0 1rem;
                    max-width: 180px;
                    text-align: center;

                    img {max-width: 100%;}

                    span {
                        display: block;
                        font-size: 3vw;
                        padding: 0.3em 0.3em 0.6em 0.3em;
                    }

                    &.current {
                        display: block;
                        order: 1;
                    }

                    &.next {
                        display: block;
                        order: 3;
                    }
                }

                .maze-response {display:none;}

                &.over {
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    #mobile-buttons {display: none;}

                    .mobile-maze-item {
                        display: block;
                        flex: none;
                        margin: 0.5rem;
                    }

                    .maze-response {
                        display: block;
                        flex: none;
                        margin: 0.2rem;

                        img {
                            border: 2px solid $color-border-input;
                            border-radius: 5px;
                            box-shadow: $box-shadow-input;
                            max-width: 100px;
                        }
                    }
                }
            }

            #scroll-wrapper {display: none;}
        }

        #helper-wrapper {
            background: none;
            margin: 0;
            padding: 0;

            h2, #toggle-helper-button {display: none;}

            #toggle-wrapper {
                display: block;

                #helper-note {display: none;}

                #response-wrapper {
                    display: none;
                    align-content: center;

                    &.mobile-active {
                        background-color: $transparent-background-dark;
                        display: flex;
                        min-height: 100vh;
                        padding: 5rem 0;
                        position: absolute;
                        top: -30px;
                        left: 0;
                    }
                }
            }
        }
    }
}
