<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navbar-item">Comptes</a>
            <a href="#" class="navbar-item">Quiz</a>
            <a href="{{ path('bo_maze_actor_list') }}" class="navbar-item">Acteurs</a>
            <a href="{{ path('bo_maze_movie_list') }}" class="navbar-item">Films</a>
        </div>
        <div class="navbar-end">
            <a href="#" class="navbar-item">Retour au site</a>
            <a href="#" class="navbar-item">Se déconnecter</a>
        </div>
    </div>
</nav>
