.tingle-modal {
    &__close {
        font-size: 3em;
        &:hover {
            .tingle-modal__closeIcon {color: $color-button-active-1;}
        }
    }
    &__closeIcon {
        color: $color-button-default-2;
    }

    .tingle-modal-box {
        border: 2px solid $color-border-popup;
        box-shadow: $box-shadow-popup;
        width: auto;
        
        &__content {
            color: $color-text-popup;
            padding: 1em 2em;

            * {color: $color-text-popup;}
        }
    }
};