{#
    This mail is used when user ask new password (forgotten password).
    Required :
    - user : user (as User) we send mail.
    - password : clear password for previous user account (as String) => password in entity User is encoded...
#}

{% extends "mail.html.twig" %}

{% block message %}

    <strong>Bonjour {{ user.firstname }} {{ user.lastname }},</strong>
    <br/><br/>
    Un nouveau mot de passe a été généré pour votre compte :
    <br/><br/>
    {{ password }}
    <br/><br/>
    Vous pouvez vous connecter en cliquant sur le lien suivant :
    <br/><br/>
    <a href="{{ app.request.scheme ~  '://' ~  app.request.host  ~ path('login') }}" target="_blank" style="color: #ffa043;">Se connecter</a>
    <br/><br/>

{% endblock %}