{#
Allows to add new maze item using TMDB API.
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">{% block title %}{% endblock %}</h1>

    <div id="maze-item-add" class="field has-addons">
        <div class="control">
            <input id="maze-item-add-search" type="text" class="input" placeholder="{% block searchPlaceholder %}{% endblock %}" />
        </div>
        <div class="control">
            <button
                id="maze-item-add-button"
                class="button is-primary"
                data-search-url="{% block searchUrl %}{% endblock %}"
                disabled
             >
                Rechercher
            </button>
        </div>
    </div>

    {# Allows to display search result #}
    <div id="maze-item-add-result" class="hide"></div>

{% endblock %}
