{#
Allows to display progress bar for pending process (building casting or filmography).
Required :
- BuildProcess pendingProcess : pending process (building filmography or casting).
#}

{% if pendingProcess %}
    <div id="pending-process-wrapper" class="content">
        <div class="is-size-7 has-text-centered">{{ ('back.maze.build.process.'~pendingProcess.type~'.pending')|trans }}</div>
        <progress
            data-current-build-process
            data-progress-url="{{ path('bo_maze_build_progress') }}"
            value="{{ pendingProcess.count }}"
            max="{{ pendingProcess.total }}"
            class="progress is-large"
        >
        </progress>
    </div>
{% endif %}
